#include <physical_layouts.dtsi>


/ {
    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        // kscan = <&kscan0>;

        // each block is a full row of 12 keys
        keys  //                     w   h    x    y     rot    rx    ry
            // row 1
            = <&key_physical_attrs 100 100    0  170       0     0     0>
            , <&key_physical_attrs 100 100  100  160       0     0     0>
            , <&key_physical_attrs 100 100  200   70       0     0     0>
            , <&key_physical_attrs 100 100  300   45       0     0     0>
            , <&key_physical_attrs 100 100  400   75       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>

            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1000   75       0     0     0>
            , <&key_physical_attrs 100 100 1100   45       0     0     0>
            , <&key_physical_attrs 100 100 1200   70       0     0     0>
            , <&key_physical_attrs 100 100 1300  160       0     0     0>
            , <&key_physical_attrs 100 100 1400  170       0     0     0>

            // row 2
            , <&key_physical_attrs 100 100    0  270       0     0     0>
            , <&key_physical_attrs 100 100  100  260       0     0     0>
            , <&key_physical_attrs 100 100  200  170       0     0     0>
            , <&key_physical_attrs 100 100  300  145       0     0     0>
            , <&key_physical_attrs 100 100  400  175       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>

            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  175       0     0     0>
            , <&key_physical_attrs 100 100 1100  145       0     0     0>
            , <&key_physical_attrs 100 100 1200  170       0     0     0>
            , <&key_physical_attrs 100 100 1300  260       0     0     0>
            , <&key_physical_attrs 100 100 1400  270       0     0     0>

            // row 3
            , <&key_physical_attrs 100 100    0  370       0     0     0>
            , <&key_physical_attrs 100 100  100  360       0     0     0>
            , <&key_physical_attrs 100 100  200  270       0     0     0>
            , <&key_physical_attrs 100 100  300  245       0     0     0>
            , <&key_physical_attrs 100 100  400  275       0     0     0>
            , <&key_physical_attrs 100 100  500  300       0     0     0>

            , <&key_physical_attrs 100 100  900  300       0     0     0>
            , <&key_physical_attrs 100 100 1000  275       0     0     0>
            , <&key_physical_attrs 100 100 1100  245       0     0     0>
            , <&key_physical_attrs 100 100 1200  270       0     0     0>
            , <&key_physical_attrs 100 100 1300  360       0     0     0>
            , <&key_physical_attrs 100 100 1400  370       0     0     0>

            // row 4
            , <&key_physical_attrs 100 100  200  370       0     0     0>
            , <&key_physical_attrs 100 100  330  400       0     0     0>
            , <&key_physical_attrs 100 100  430  400       15    0     0>
            , <&key_physical_attrs 100 100  530  420       30    0     0>
            , <&key_physical_attrs 100 100  630  440       30    0     0>

            , <&key_physical_attrs 100 100  770  440       75    0     0>
            , <&key_physical_attrs 100 100  870  420       60    0     0>
            , <&key_physical_attrs 100 100  970  400       0     0     0>
            , <&key_physical_attrs 100 100 1070  400       0     0     0>
            , <&key_physical_attrs 100 100 1200  370       0     0     0>
            ;
    };
};
